body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'ArcadeClassic', sans-serif;
    color: #fff;
}
/* ============================
   🎮 Contenu
   ============================ */

.container {
    position: relative;
    z-index: 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 60px;
    text-shadow: 0 0 10px #ff00ff, 0 0 20px #00ffff;
}

.btn {
    margin-top: 30px;
    padding: 15px 40px;
    background: #ff00ff;
    border: none;
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-shadow: 0 0 5px #fff;
    box-shadow: 0 0 15px #ff00ff, 0 0 25px #00ffff;
    transition: 0.2s;
}

.btn:hover {
    transform: scale(1.15);
    box-shadow: 0 0 20px #ff00ff, 0 0 35px #00ffff;
}
